body {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  margin-bottom: 31px;
}

strong {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  color: rgb(232, 5, 232);
  margin-left: 10px;
}

.link {
  color: rgb(232, 5, 232);
  margin-right: 30px;
}

h1 {
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

nav {
  margin-bottom: 31px;
}

strong {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  color: rgb(232, 5, 232);
  margin-left: 10px;
}

.link {
  color: rgb(232, 5, 232);
  margin-right: 30px;
}

h1 {
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
